<% layout("layout/boilerplate") %>
<div class="row">
    <div id="RizCarousel" class="carousel slide">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#RizCarousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#RizCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#RizCarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="https://www.laosnews.gr/uploads/media/rizomata-1.jpg" class="d-block w-100" alt="...">
                <div class="carousel-caption d-none d-md-block">
                <h5>Το Xωριό μας</h5>
                </div>
            </div>
            <div class="carousel-item">
                <img src="https://www.gtp.gr/MGfiles/location/image11057[2921].jpg" class="d-block w-100" alt="...">
                <!-- <div class="carousel-caption d-none d-md-block">
                <h5>Second slide label</h5>
                <p>Some representative placeholder content for the second slide.</p>
                </div> -->
            </div>
            <div class="carousel-item">
                <img src="https://1.bp.blogspot.com/-o3enmes-i2Y/XBqNU7yYWqI/AAAAAAAAafg/gqQtFyZD8D8sULjeKutvFGaDi27coh0mgCLcBGAs/s1600/57078905.jpg" class="d-block w-100" alt="...">
                <div class="carousel-caption d-none d-md-block">
                <h5>Φωτογραφία από τις αρχές του 20ου αιώνα</h5>
                </div>
            </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#RizCarousel" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#RizCarousel" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div>
            <h1>Ριζώματα</h1>
            <p>
                    Τα Ριζώματα Ημαθίας είναι ένα μεγάλος ημιορεινός οικισμός του νομού Ημαθίας. Βρίσκεται στο νότιο άκρο του νομού στα όρια με τους νομούς Πιερίας και Κοζάνης. Ανήκει στον Δήμο Βέροιας και ήταν η έδρα του πρώην δήμου Μακεδονίδος και απέχει περίπου 30 χλμ. από την πρωτεύουσα του νομού τη Βέροια. Το χωριό απλώνεται στις δυτικές πλαγιές των Πιερίων σε υψόμετρο 650 μ. περίπου. Ο πληθυσμός του στη συντριπτική του πλειοψηφία ασχολείται με τη γεωργία. Στο χωριό δραστηριοποιείται πολιτιστικός και λαογραφικός σύλλογος.
          </p>
</div>
