<% layout("layout/boilerplate") %>
<h1>Ριζώματα</h1>
<p>
    Τα Ριζώματα Ημαθίας είναι ένα μεγάλος ημιορεινός οικισμός του νομού Ημαθίας. Βρίσκεται στο νότιο άκρο του νομού στα όρια με τους νομούς Πιερίας και Κοζάνης. Ανήκει στον Δήμο Βέροιας και ήταν η έδρα του πρώην δήμου Μακεδονίδος και απέχει περίπου 30 χλμ. από την πρωτεύουσα του νομού τη Βέροια. Το χωριό απλώνεται στις δυτικές πλαγιές των Πιερίων σε υψόμετρο 650 μ. περίπου. Ο πληθυσμός του στη συντριπτική του πλειοψηφία ασχολείται με τη γεωργία. Στο χωριό δραστηριοποιείται πολιτιστικός και λαογραφικός σύλλογος.
</p>
