<% layout("layout/boilerplate") %>
<h1>Περισσότερες Πληροφορίες</h1>
<p>Το παλαιότερο όνομα του χωριού ήταν Μπόστιανη και μετονομάστηκε την 01/11/1927. Έχει πλούσια ιστορία και παράδοση και περιβάλλεται από ένα πανέμορφο φυσικό περιβάλλον (δάση και λιβάδια, ρυάκια και χείμαροι). Κατά την Ελληνική Επανάσταση του 1821 σπουδαία ήταν η προσφορά των Μποστανιτών με κυριώτερους τους αδελφούς Γεώργιο και Αθανάσιο Συρόπουλο, γόνους παλιάς κλεφταρματολικής οικογένειας. Σήμερα αριθμεί περίπου 1000 μόνιμους κατοίκους και είναι διάσημο για τις - εξαιρετικής ποιότητας - ντομάτες που παράγει.
</p>
<p>Πέρα από τις ντομάτες οι παππούδες παράγουν και εξαιρετικό ρακι. Έχουν πολλά στρέμματα αμπέλια και μέσα από οικογενειακή διαδικασια, πάτημα σταφυλιών κλπ πηγαίνουν στα καζάνια που έχει δυο το χωρίο και τα τελειοποιούν. 
</p>
<p>
    Έχει επίσης και μαγαζιά για εξόδους. Για τους ηλικιωμένους παρέχει δυο καφενεία, δυο καφετέριες η οποία μετά τις 8:00 δουλεύει ως ουζερί , με διάφορα μεζεδάκια.Τέλος , για τους νεότερους της περιοχής, έχει δυο κλαμπ, το ΟΝΑΡ και το GOA. 
</p>