<% layout("layout/boilerplate") %>


<div id="RizCarousel" class="carousel slide">
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#RizCarousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#RizCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#RizCarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
        <button type="button" data-bs-target="#RizCarousel" data-bs-slide-to="3" aria-label="Slide 4"></button>
    </div>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="https://www.laosnews.gr/uploads/media/rizomata-1.jpg" class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block">
            <h5>Το Xωριό μας</h5>
            </div>
        </div>
        <div class="carousel-item">
            <img src="/assets/photos/palaioKastros.jpg" class="d-block w-100 " alt="..." style="max-height: 768px;">
            <div class="carousel-caption d-none d-md-block">
                <h5>Ο Παλαιόκαστρος</h5>
                </div>
        </div>
        <div class="carousel-item">
            <img src="https://1.bp.blogspot.com/-o3enmes-i2Y/XBqNU7yYWqI/AAAAAAAAafg/gqQtFyZD8D8sULjeKutvFGaDi27coh0mgCLcBGAs/s1600/57078905.jpg" class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block">
            <h5>Φωτογραφία από τις αρχές του 20ου αιώνα</h5>
            </div>
        </div>
        <div class="carousel-item">
            <img src="/assets/photos/vradi.jpg" class="d-block w-100" alt="..." style="max-height: 768px;">
            <div class="carousel-caption d-none d-md-block">
            <h5>Βράδυ στο χωριό μας</h5>
            </div>
        </div>
    </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#RizCarousel" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#RizCarousel" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
        </button>
</div>
<div class="offset-3 mt-5">
    <h1>Περισσότερες Πληροφορίες</h1>
</div>
    <div id="text" class="row-6 mt-3">

        <p>Το παλαιότερο όνομα του χωριού ήταν Μπόστιανη και μετονομάστηκε την 01/11/1927. Έχει πλούσια ιστορία και παράδοση και περιβάλλεται από ένα πανέμορφο φυσικό περιβάλλον (δάση και λιβάδια, ρυάκια και χείμαροι). Κατά την Ελληνική Επανάσταση του 1821 σπουδαία ήταν η προσφορά των Μποστανιτών με κυριώτερους τους αδελφούς Γεώργιο και Αθανάσιο Συρόπουλο, γόνους παλιάς κλεφταρματολικής οικογένειας. Σήμερα αριθμεί περίπου 1000 μόνιμους κατοίκους και είναι διάσημο για τις - εξαιρετικής ποιότητας - ντομάτες που παράγει.
        </p>
        <p>Πέρα από τις ντομάτες παράγεται και εξαιρετικό ρακι το οποίο τελειοποιείται στα δυο καζάνια που υπάρχουν στο χωριό.
            Υπάρχουν ακόμα και μαγαζία για όλες τις ηλικίες. Για τους μεγαλύτερους υπάρχουν δυο καφετέριες οι οποίες μετά τις 20:00 λειτουργούν ως ουζερί. Για τους νεότερους της περιοχής έχει δύο κλαμπ, το ΟΝΑΡ και το GOA. 
             
        </p>
    </div>
    
    <h2 id="h2">Αξιοθέατα</h2>

    <div id="text" class="row-6 mt-3">
        <p>
            Ένα από τα αξιοθέατα που αξίζει να γίνει επίσκεψη είναι ο Παλαιόκαστρος. Ο Παλαιόκαστρος είναι ένα αρχαίο ανοιχτό αμφιθέατρο με πέτρινες κερκίδες. Χρησιμοποιήθηκε παλαιότερα για διάφορες εκδηλώσεις που οργανώνονταν στο χωριό όπως, θεατρικές παραστάσεις. Δυστυχώς, έχει καταστραφεί ένα μέρος του οπότε δεν γίνονται εκδηλώσεις σε αυτόν. Παρόλα αυτά, ότι έχει απομείνει συντηρείται από την κοινότητα των νέων της περιοχής.
            Ακόμα, προτείνεται ανεπιφύλακτα η επίσκεψη στο μικρό λαογραφικό μουσείο των Ριζωμάτων το οποίο περιέχει πολλά παλαιά εργαλεία που χρησιμοποιούσαν οι αγρότες. Για παράδειγμα, το λαογραφικό μουσείο έχει ξύλινο άροτρο και διαφόρων ειδών αργαλειούς. Παράλληλα με τους υπαλληλους που εξηγούν το κάθε εργαλείο, υπάρχουν και πολλές ασπρόμαυρες φωτογραφιες που δείχνουν πως δούλευαν οι παλαιότερες γενίες.
        </p>
    </div>

    <h2 id="h2">Μονοπατια για εξερευνηση </h2>
    
    <div id="text" class="row-6 mt-3">
        <p>Πολύ αξιόλογα είναι και τα δυο μονοπάτια που προσφέρει το χωριό. Τρεχούμενα νερά, καθαρός αέρας είναι κάποιες από τις μαγευτικές εικόνες που κρύβουν. Η πρόσβαση είναι εύκολη αφού βρίσκονται μέσα στο χωριό. Το πρώτο πήρε το όνομα του από έναν μύθο. Ο μύθος αυτός αναφέρει πως ένας καπετάνιος πολλά χρόνια πριν επισκέφτηκε το μονοπάτι και έκρυψε πολλά από τα αντικείμενα του. Για αυτό οι κάτοικοι το ονόμασαν “Καπετάνιος”. 
        </p>
        <p>Το δεύτερο λέγεται Ποντικόβρυσα. Δεν υπάρχει κάποιος συγκεκριμένος μύθος για το μονοπάτι αυτό αλλά κατά την εξερεύνηση του βρέθηκε  χαραγμένο πάνω στην βρύση το όνομα “ποντικόβρυσα”. Έτσι αποφάσισαν να του δώσουν αυτό το όνομα. Και αυτό έχει ποταμάκια σε όλη την διαδρομή του ανάμεσα σε δέντρα και είναι σίγουρα είναι μια ωραία διαδρομή για χαλάρωση.
    </div>
